#root {
  /* Ana kapsayıcı için maksimum genişlik ayarlandı ve ortalandı */
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; /* İçeriklerin ortalanması */
}

.header {
  /* Başlık alanının arka plan ve metin ayarları */
  background-color: #CE2829; /* Kırmızı arka plan */
  padding: 1rem; /* İçerik dolgusu */
  color: white; /* Beyaz metin */
}

.header h1 {
  /* Başlık metni stili */
  margin: 0; /* Varsayılan boşluk kaldırıldı */
  font-size: 2rem; /* Yazı boyutu */
}

.header nav {
  /* Navigasyonun üst boşluğu */
  margin-top: 0.5rem;
}

nav small {
  /* Navigasyon metni için stil */
  color: white; /* Beyaz renk */
  opacity: 0.8; /* Opaklık ile şeffaflık efekti */
}

.card {
  /* Kart alanı için stil */
  padding: 2em;
  border-radius: 8px; 
  margin-bottom: 20px; 
  background-color: white; 
}

.options-row {
  /* Seçeneklerin düzenlenmesi */
  display: flex;
  justify-content: space-between; 
  gap: 20px; 
}

.option-section {
  /* Seçenek bölümü genel ayarları */
  flex: 1; 
  text-align: left;
}

.option-section.column label {
  /* Seçeneklerin alt alta sıralanması */
  display: block;
  margin-bottom: 10px;
}

select,
textarea {
  /* Form öğeleri için genel stil */
  width: 100%; 
  padding: 10px; 
  margin: 10px 0; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
}

textarea {
  min-height: 50px; /* Minimum yükseklik */
}

.extras-list {
  /* Ek malzemeler listesinin düzenlenmesi */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* İki sütunlu ızgara */
  gap: 10px; 
  text-align: left; 
}

.order-summary {
  /* Sipariş özetinin stili */
  border-top: 1px solid #ddd;
  padding-top: 10px; 
  margin-top: 20px; 
  display: flex;
  justify-content: space-between; 
}

.order-controls {
  /* Sipariş kontrol butonlarının düzenlenmesi */
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 10px; 
  margin-top: 20px; 
}

.order-button {
  /* Sipariş butonunun stili */
  background-color: #FDC913; 
  color: #fff; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
}

.order-button:hover {
  /* Butonun hover efekti */
  background-color: #e5b807; 
}

button {
  /* Genel buton stili */
  border: 1px solid #5F5F5F; 
  background-color: #292929; 
  padding: 5px 10px; 
  cursor: pointer; 
}

button:hover {
  /* Butonun hover efekti */
  background-color: #5F5F5F; /* Açık gri arka plan */
}

input[type="text"] {
  /* Metin girişi stili */
  width: 40px; 
  text-align: center; 
  border: 1px solid #5F5F5F; /* Açık gri kenarlık */
}
